.main-page-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;


    .main-page-search-container {
        display: flex;
        margin-top: 20px;

        &>* {
            margin: 1vw;
        }
    }

    .main-page-autocomplete {
        flex: 1;
    }
}