.card-container {
    display: inline-block;
    padding: 20px;
    margin: 20px 4px;
    border: 1px solid rgba(196, 196, 196, 0.275);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}